html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.honda-header-bg {
  background-color: #264653;
}
.honda-button-bg {
  background-color: #e76f51;
}
.honda-button-bg:hover {
  background-color: #f56643;
}

.honda-button-bg:active,
.honda-button-bg:focus {
  background-color: #f56643;
}

.honda-font-color {
  color: #e76f51;
}

.honda-fetured-gray {
  filter: grayscale(100%);
}

.honda-faq-color {
  color: #7e848c;
}

.fa-star {
  color: #e77c40;
}

.accordion-button:not(.collapsed) {
  color: #383838 !important;
  background-color: white !important;
}
